html, 
body {
    width: 100%;
}

html {
    background-image: linear-gradient( 64.5deg,  rgba(245,116,185,1) 14.7%, rgba(89,97,223,1) 88.7% );
    background-repeat: no-repeat;
    height: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    text-align: center;
}

.title {
    width: inherit;
    font-size: 4rem;
    color: white;
    font-family: cursive;
    text-align: center;
}

.btn {
    padding: 0 25rem;
}

.btn-login {
    width: 100%;
    background-color: rgb(252, 61, 118);
    font-size: 1rem;
    border-radius: 1.5rem;
    padding: 1rem 0;
    font-family: cursive;
    color: white;
}